Package: adaptation-star2qltechn-configs
Source: adaptation-droidian-star2qltechn
Version: 0.0.0+git2023032509182327.8c591ea.bookworm+git20230325044338.b1f74e7.bookworm
Architecture: all
Maintainer: Bardia Moshiri
Installed-Size: 144
Depends: dconf-gsettings-backend | gsettings-backend
Section: metapackages
Priority: optional
Description: star2qltechn's adaptation configs
