Source: adaptation-samsung-crownqltechn
Maintainer: Fabito02 <fabianojuniorlimaba2@gmail.com>
Section: metapackages
Priority: optional
Build-Depends: debhelper (>= 10),
               debhelper-compat (= 13),
Standards-Version: 4.5.0.3

Package: adaptation-samsung-crownqltechn
Architecture: arm64
Depends: ${misc:Depends},
         adaptation-hybris-api29-phone,
         adaptation-samsung-crownqltechn-configs (= ${binary:Version})
Description: Community adaptation for samsung-crownqltechn - metapackage

Package: adaptation-samsung-crownqltechn-configs
Architecture: arm64
Depends: ${misc:Depends},
Description: Community adaptation for samsung-crownqltechn - adaptation configurations
