Source: adaptation-droidian-starqltechn
Maintainer: Bardia Moshiri
Section: metapackages
Priority: optional
Build-Depends: debhelper (>= 10)
Standards-Version: 4.5.0.3
Vcs-Browser: https://github.com/droidian-starqltechn/adaptation-droidian-starqltechn
Vcs-Git: https://github.com/droidian-starqltechn/adaptation-droidian-starqltechn.git

Package: adaptation-droidian-starqltechn
Architecture: all
Depends: ${misc:Depends},
         adaptation-hybris-api29-phone,
         adaptation-starqltechn-configs,
         wlr-randr,
Description: adapatation-starqltechn-meta
 starqltechn api29 adaptation metapackage

Package: adaptation-starqltechn-configs
Architecture: all
Depends: ${misc:Depends},
Description: starqltechn's adaptation configs
